body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

div.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 30px;
  padding: 5px;
}

h1 {
  font-size: 5rem;
  display: block;
}

.blue-text {
  color: midnightblue;
}

.left-card {
  float: left;
  flex: 1;
}

.right-card {
  float: right;
  flex: 1;
}

.tile-image {
  float: left;
  height: 200px;
  margin-right: 30px;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
  display: block;
  margin-top: auto;
}

/* Galaxy Fold */ 

@media (width: 280px) and (height: 653px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 20px 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
  }

  h1 {
    font-size: 2.5rem;
    display: block;
    text-align: center;
  }

  .logo {
    height: 18px;
  }

  .tile-image {
    text-align: center;
    width: 175px;
    object-fit: cover;
  } 

  div.container {
    display: grid;
    grid-template-columns: 175px;
    grid-template-rows: 175px;
    gap: 300px;
  }

  .left-card {
    flex: 1;
  }

  .right-card {
    flex: 1;
  }

  footer {
    text-align: center;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* iPhone SE */

@media (width: 375px) and (height: 667px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 20px 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
  }

  .main {
    flex: 1;
  }

  h1 {
    font-size: 3rem;
    display: block;
  }

  .logo {
    height: 18px;
  }

  .tile-image {
    text-align: center;
    width: 265px;
    object-fit: cover;
  }

  div.container {
    display: grid;
    grid-template-columns: 265px;
    grid-template-rows: 200px;
    gap: 250px;
  }

  .left-card {
    flex: 1;
  }

  .left-card > img {
    text-align: center;
  }
    
  .right-card {
    flex: 1;
  }

  h1 {
    text-align: center;
  }

  footer {
    text-align: center;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* iPhone 12 Pro */

@media (width: 390px) and (height: 844px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 20px 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
  }

  .main {
    flex: 1;
  }

  h1 {
    font-size: 3rem;
    display: block;
  }

  .logo {
    height: 18px;
  }

  .tile-image {
    text-align: center;
    width: 275px;
    object-fit: cover;
  }

  div.container {
    display: grid;
    grid-template-columns: 275px;
    grid-template-rows: 200px;
    gap: 225px;
  }

  .left-card {
    flex: 1;
  }

  .left-card > img {
    text-align: center;
  }
    
  .right-card {
    flex: 1;
  }

  h1 {
    text-align: center;
  }

  footer {
    text-align: center;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* iPhone XR */

@media (width: 414px) and (height: 896px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 20px 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
  }

  .main {
    flex: 1;
  }

  h1 {
    font-size: 3rem;
    display: block;
    text-align: center;
  }

  .logo {
    height: 18px;
  }

  .tile-image {
    text-align: center;
    width: 300px;
    object-fit: cover;
  }

  div.container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 250px;
    gap: 175px;
  }

  .left-card {
    flex: 1;
  }
    
  .right-card {
    flex: 1;
  }

  footer {
    text-align: center;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* iPhone 14 Pro Max */

@media (width: 430px) and (height: 932px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 20px 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
  }

  .main {
    flex: 1;
  }

  h1 {
    font-size: 3rem;
    display: block;
    text-align: center;
  }

  .logo {
    height: 18px;
  }

  .tile-image {
    text-align: center;
    width: 315px;
    object-fit: cover;
  }

  div.container {
    display: grid;
    grid-template-columns: 315px;
    grid-template-rows: 250px;
    gap: 175px;
  }

  .left-card {
    flex: 1;
  }
    
  .right-card {
    flex: 1;
  }

  footer {
    text-align: center;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* Pixel 7 */

@media (width: 412px) and (height: 915px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 20px 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
  }

  .main {
    flex: 1;
  }

  h1 {
    font-size: 3rem;
    display: block;
    text-align: center;
  }

  .logo {
    height: 18px;
  }

  .tile-image {
    text-align: center;
    width: 300px;
    object-fit: cover;
  }

  div.container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 250px;
    gap: 175px;
  }

  .left-card {
    flex: 1;
  }
    
  .right-card {
    flex: 1;
  }

  footer {
    text-align: center;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* Samsung Galaxy S8+ */

@media (width: 360px) and (height: 740px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 20px 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
  }

  .main {
    flex: 1;
  }

  h1 {
    font-size: 3rem;
    display: block;
    text-align: center;
  }

  .logo {
    height: 18px;
  }

  .tile-image {
    text-align: center;
    width: 250px;
    object-fit: cover;
  }

  div.container {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 250px;
    gap: 175px;
  }

  .left-card {
    flex: 1;
  }
    
  .right-card {
    flex: 1;
  }

  footer {
    text-align: center;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* Samsung Galaxy S20 Ultra */

@media (width: 412px) and (height: 915px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 20px 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
  }

  .main {
    flex: 1;
  }

  h1 {
    font-size: 3rem;
    display: block;
    text-align: center;
  }

  .logo {
    height: 18px;
  }

  .tile-image {
    text-align: center;
    width: 300px;
    object-fit: cover;
  }

  div.container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 250px;
    gap: 175px;
  }

  .left-card {
    flex: 1;
  }
    
  .right-card {
    flex: 1;
  }

  footer {
    text-align: center;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* iPad Pro */

@media (width: 1024px) and (height: 1366px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  
  div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px;
    gap: 10px;
    padding: 5px;
  }
  
  h1 {
    font-size: 5rem;
    display: block;
  }
  
  .blue-text {
    color: midnightblue;
  }
  
  .left-card {
    float: left;
    flex: 1;
  }
  
  .right-card {
    float: right;
    flex: 1;
  }
  
  .tile-image {
    float: left;
    height: 200px;
    margin-right: 30px;
  }
  
  footer {
    text-align: right;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* Surface Pro 7 */

@media (width: 912px) and (height: 1368px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  
  div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px;
    gap: 10px;
    padding: 5px;
  }
  
  h1 {
    font-size: 5rem;
    display: block;
  }
  
  .blue-text {
    color: midnightblue;
  }
  
  .left-card {
    float: left;
    flex: 1;
  }
  
  .right-card {
    float: right;
    flex: 1;
  }
  
  .tile-image {
    float: left;
    height: 200px;
    margin-right: 30px;
  }
  
  footer {
    text-align: right;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* Surface Duo */

@media (width: 540px) and (height: 720px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 20px 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
  }

  .main {
    flex: 1;
  }

  h1 {
    font-size: 3rem;
    display: block;
    text-align: center;
  }

  .logo {
    height: 18px;
  }

  .tile-image {
    text-align: center;
    width: 425px;
    object-fit: cover;
  }

  div.container {
    display: grid;
    grid-template-columns: 425px;
    grid-template-rows: 250px;
    gap: 125px;
  }

  .left-card {
    flex: 1;
  }
    
  .right-card {
    flex: 1;
  }

  footer {
    text-align: center;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}

/* Surface Duo */

@media (width: 540px) and (height: 720px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }

  div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 350px;
    gap: 175px;
    padding: 5px;
  }

  h1 {
    font-size: 3rem;
    display: block;
  }

  .blue-text {
    color: midnightblue;
  }

  .left-card {
    float: left;
    flex: 1;
  }

  .right-card {
    float: right;
    flex: 1;  
  }

  .tile-image {
    float: left;
    height: 200px;
    margin-right: 30px;
  }

  footer {
    text-align: right;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;

  }
}

/* Samsung Galaxy A51/71 */

@media (width: 412px) and (height: 914px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }

  div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 400px;
    gap: 200px;
    padding: 5px;
  }

  h1 {
    font-size: 3rem;
    display: block;
    text-align: center;
  }

  .blue-text {
    color: midnightblue;
  }

  .left-card {
    float: left;
    flex: 1;
  }

  .right-card {
    float: right;
    flex: 1;  
  }

  .tile-image {
    float: left;
    height: 200px;
    margin-right: 30px;
  }

  footer {
    text-align: center;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;

  }
}

/* Nest Hub */

@media (width: 1024px) and (height: 600px) {
  body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  
  div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px;
    gap: 10px;
    padding: 5px;
  }
  
  h1 {
    font-size: 5rem;
    display: block;
  }
  
  .blue-text {
    color: midnightblue;
  }
  
  .left-card {
    float: left;
    flex: 1;
  }
  
  .right-card {
    float: right;
    flex: 1;
  }
  
  .tile-image {
    float: left;
    height: 200px;
    margin-right: 30px;
  }
  
  footer {
    text-align: right;
    color: midnightblue;
    clear: both;
    display: block;
    margin-top: auto;
  }
}